{% extends "director/index.html" %}
{% load static %}
{% load jsonify %}

{% block page_content %}
<script src='{% static "js/table.pack.js?t=" %}{{ js_stamp.table_pack_js }}'></script>
<script type="text/javascript">

    //	row_filters=
    //	placeholder =
    //	row_sort=
    //	heads=
    //	rows=
    //	row_pages =

    //	can_add=
    //	can_del=
    //	search_args=ex.parseSearch()
    //	search字段从 search_args._q 来取值
//    heads.push(
//            {label:'',name:'operation',type:'edit-on-map'}
//    )
    table_logic={
        el:'#there',
        data:{
//		        heads:heads,
//		        rows:rows,
//		        row_filters:row_filters,
//		        row_sort:row_sort,
//		        row_pages:row_pages,
//		        placeholder:placeholder,
//		        selected:[],
//		        del_info:[],
//		        menu:menu,
//		        can_add:can_add,
//		        can_del:can_del,
//		        model:model,
//		        search_args:search_args,
//		        ex:ex,
        },
        mixins:[table_fun],
        watch:{
            'row_sort.sort_str':function (v) {
                this.search_args._sort=v
                this.search()
            }
        },

    }
    $(function () {
        table=new Vue(table_logic)
    })

</script>

{% block extra_head %}
{% endblock %}

<div id='there'>
    <path-nav :menu='menu' v-if="!search_args._pop"></path-nav>
    <div class='btn-panel flex flex-sb' style="padding-left:20px; ">

        <!--<div v-if="row_filters.length==0" class="flex-grow"></div>-->
        <com-filter class="flex" :heads="row_filters" :search="search_args"
                    :search_tip='search_tip' @submit="search()"></com-filter>
        <div class="flex-grow"></div>

        <button @click="add_new">创建</button>
        <button @click="del_item">删除</button>

        <!--<com-table-btn :add_new="add_new" :del_item="del_item">-->
        <!--</com-table-btn>-->

    </div>

    <com-table class='table fake-suit' :has_check="!search_args._pop" :map="map"
               :row_sort="row_sort" :heads="heads" :rows="rows" v-model="selected"></com-table>


    <paginator :nums='row_pages.options' :crt='row_pages.crt_page' @goto_page='goto_page($event)'></paginator>


</div>

<!--<script>-->
    <!--Vue.component('edit-on-map',{-->
        <!--template:"<span @click=''>edit</span>",-->
        <!--props:['row','name'],-->
        <!-- -->
    <!--})-->
<!--</script>-->

{% block extra %}
{% endblock %}
{% endblock %}